body {
	margin-top: 0;
	font-family: "Open Sans", sans-serif;
}

h1 {
	font-weight: bold;
	font-size: 4rem;
}

/* Logo-Area */
.Logo-Button {
	margin-top: 40px;
	margin-bottom: 100px;
}
.company-logo {
	margin-left: 50px;
}
.Try-button {
	color: #f6c6e5;
	border: 1px solid #f6c6e5;
	font-weight: bold;
	float: right;
	margin-right: 50px;
}

/* Community Area  */
#Community {
	text-align: center;
}
.Mockup {
	width: 100%;
}
.community-message {
	color: #aebabb;
	font: bold;
}
.Free-button {
	background-color: #f252c1;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 60px;
	padding-left: 60px;
	margin-top: 20px;
	margin-bottom: 100px;
	color: #fff;
	font: bold;
}
/* Count Area */
#Count {
	text-align: center;
}
.count-div {
	margin-top: 100px;
}
.row {
	text-align: left;
}
.count-message {
	color: #aebabb;
}
.count-logo {
	width: 30px;
}
#Fans-count {
	text-align: center;
}
.count-header {
	font-size: 6rem;
}
.count-body {
	padding: 100px;
}

/* Grow Together Area */
#Grow-Together {
	text-align: center;
	background-image: url("../images/bg-section-top-desktop-1.svg");
	background-repeat: no-repeat;
	background-size: cover;
}
.grow-image {
	width: 50%;
}
.container-grow {
	padding-top: 250px;
}
.grow-heading {
	font-size: 2rem;
	font-weight: bold;
}
.grow-message {
	color: #5b6d75;
}

/* Flowing Conversations */
#Flowing-Conversations {
	background-image: url("../images/bg-section-bottom-desktop-1.svg");
	background-repeat: no-repeat;
	background-size: contain;
}
.container-grow2 {
	padding-top: 200px;
	padding-bottom: 100px;
}
.illus-img {
	width: 50%;
}

/* Your Users Area */
#Your-User {
	background-image: url("../images/bg-section-top-desktop-2.svg");
	background-repeat: no-repeat;
	background-size: cover;
}
.user-body {
	padding-top: 100px;
}
.User-img {
	width: 50%;
}

/* Ready To Build Community Area */
#Redy-Community {
	text-align: center;
}
.Ready-body {
	padding-top: 150px;
}
/* Footer Area */
#For-color {
	background-image: url("../images/bg-footer-top-desktop.svg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	color: white;
}
footer {
	background-color: #09262e;
}
.footer-div {
	padding: 100px;
}
.small-logo {
	width: 50px;
}
.Footer-Name {
	font-size: 20px;
	color: white;
	font-weight: bold;
}
.contact-form {
	line-height: 3;
}
.social-icon {
	padding: 10px;
}
.btn-primary {
	background-color: #f252c1;
	border: 1px solid #f252c1;
}
.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
